{% extends "base.html" %}

{% block title %}パスワード変更{% endblock %}

{% block content %} 
  <h2>パスワード変更</h2>

    {% if current_user.must_change_password %}
      <p>
        初期パスワードの変更が必要です。
        新しいパスワードを設定してください。
      </p>
    {% endif %}

  <form method="POST">
    {{ form.hidden_tag() }}

    <div>
      {{ form.password.label }}
      {{ form.password }}

      {% for error in form.password.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>

    <div>
      {{ form.new_password.label }}
      {{ form.new_password }}

      {% for error in form.new_password.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>

    <div>
      {{ form.new_password_confirm.label }}
      {{ form.new_password_confirm }}

      {% for error in form.new_password_confirm.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>

    <div>
      {{ form.submit() }}
    </div>
  </form>

  {% if not current_user.must_change_password %}
    <a href="{{ url_for('index') }}">チャット一覧へ戻る</a>
  {% endif %}
{% endblock %}
