{% extends "base.html" %}

{% block title %}チャット一覧{% endblock %}

{% block content %}
  <h2>チャット一覧</h2>

  {% if chat_items %}
  {% for item in chat_items %}
    <div>
      <p>{{ item.other_user.name }}</p>

      {% if item.other_user.department %}
        <p>{{ item.other_user.department }}</p>
      {% endif %}

      {% if item.latest_message %}
        <p>{{ item.latest_message.text }}</p>
        <p>{{ item.latest_message.created_at }}</p>
          {% if item.unread %}
            <span>未読あり</span>
          {% endif %}
      {% else %}
        <p>まだメッセージはありません。</p>
      {% endif %}

      <a href="{{ url_for('chat.chat_room', conversation_id=item.conversation.id) }}">チャットを開く</a>
    </div>
  {% endfor %}
{% else %}
  <p>チャットはまだありません。</p>
{% endif %}
{% endblock %}